/Decorator/nbproject/private/
/Decorator/build/
/Strategy/nbproject/private/
/Strategy/build/
/Strategy/dist/
/chain_of_resp/nbproject/private/
/chain_of_resp/build/
/loan/nbproject/private/
/iteratorr/nbproject/private/
