/Decorator/nbproject/private/
/Decorator/build/
/Strategy/nbproject/private/
/Strategy/build/
/Strategy/dist/
/chain_of_resp/nbproject/private/
/chain_of_resp/build/
/loan/nbproject/private/
/iteratorr/nbproject/private/
/visitor/nbproject/private/
/Visitorr/nbproject/private/
/Visitorr/build/
/mediator/nbproject/private/
/dp_labmid/nbproject/private/
/dp_labmid/build/
/proxy/nbproject/private/
